# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.yml
/log/*.pid
/spec/dummy/log/*.log
/spec/dummy/tmp/
/.sass-cache
/tmp
.DS_Store
*.swp

# Ignore uploads.
/spec/dummy/storage/
# Ignore tmp files.
/spec/dummy/tmp/

# Ignore compilations.
/doc/
/pkg/

# Ignore the default SQLite database.
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
*.sqlite3
spec/dummy/tmp/local_secret.txt
