.current-application {
  margin-bottom: var(--base-size-24);

  .application,
  .branch {
    display: block;
  }

  .application {
    font-weight: var(--text-body-weight-bold);
    margin-bottom: var(--base-size-2);
  }

  .branch {
    color: var(--fgColor-brand);
    font-weight: var(--text-body-weight-medium);
  }
}