.current-application {
  margin-bottom: var(--base-size-16);

  .application,
  .branch {
    display: block;
  }

  .application {
    font-weight: var(--text-body-weight-bold);
    margin-bottom: var(--base-size-2);
  }

  .branch {
    display: flex;
    align-items: center;
    color: var(--fgColor-brand);
    font-weight: var(--text-body-weight-medium);

    .branch-icon {
      fill: var(--fgColor-brand);
      margin-right: var(--base-size-6);
    }
  }
}