.dialog {
  width: 100%;
  max-width: 700px;
  padding: var(--base-size-16);

  form {

    ul.inputs {
      margin-bottom: var(--base-size-16);

      li {
        margin-bottom: var(--base-size-16);

        label {
          display: block;
          font-weight: 600;
          margin-bottom: var(--base-size-4);
        }

        input {
          width: 100%;
        }
      }

      li:last-child {
        margin-bottom: 0;
      }

      li.choice {

        label {
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        input[type="checkbox"] {
          width: var(--base-size-24);
          margin-right: var(--base-size-8);
        }
      }
    }

    ul.actions {
      display: flex;

      li {
        margin-right: var(--base-size-8);
      }
    }
  }
}

.dialog.editor {
  max-width: 960px;
}