.folder-navigation {
  height: calc(100vh - var(--base-size-40) * 2);

  .folder-actions {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: var(--folderActions-bgColor);
    padding: var(--base-size-8);
    border: 1px solid var(--folderActions-borderColor);
    border-radius: var(--folderActions-borderRadius);

    .folder-up {
      margin-right: var(--base-size-8);
    }

    .folder-move {
      margin-left: auto;
    }

    .folder-duplicate,
    .folder-remove {
      margin-left: var(--base-size-8);
    }
  }

  .folder-dropdown {

    ul ul {
      margin-left: var(--base-size-24);
    }
  }

  .folder-items {
    font-size: var(--base-text-size-small);
    font-weight: var(--base-text-weight-semibold);
    height: calc(100% - var(--base-size-32) + var(--base-size-16) + 2px);
    overflow: scroll;
    padding: var(--base-size-12) 0 calc(var(--base-size-32) + var(--base-size-16) + 2px);

    .folder,
    .key {
      display: flex;
      align-items: center;
      height: var(--base-size-32);
      margin-bottom: var(--base-size-4);

      a {
        display: flex;
        align-items: center;
        flex: 1;
        height: var(--base-size-32);
      }

      &:hover {
        background: var(--base-color-neutral-400);
        border-radius: var(--base-size-8);

        a {
          text-decoration: none;
        }
      }
    }

    .folder {

      a {
        padding: 0 var(--base-size-16);

        .folder-icon {
          fill: var(--fgColor-default);
          margin-right: var(--base-size-12);
        }

        .arrow-icon {
          margin-left: auto;
        }
      }
    }

    .key {

      a {
        padding-left: var(--base-size-40);
      }
    }
  }
}