.key-overview { }

.key-overview-header {
  display: flex;
  align-items: center;
  margin-bottom: var(--base-size-24);

  h2 {
    color: var(--fgColor-muted);
    font-weight: var(--base-text-weight-bold);
  }

  .actions {
    margin-left: auto;
  }

  .actions, .actions ul {
    display: flex;
  }

  .actions li {
    margin-right: var(--base-size-8);

    &:last-child {
      margin-right: 0;
    }
  }
}
