.key-overview { }

.key-overview-header {
  display: flex;
  align-items: center;
  margin-bottom: var(--base-size-24);

  h2 {
    display: none;
    color: var(--fgColor-muted);
    font-weight: var(--base-text-weight-bold);
    margin-right: auto;
  }

  .actions { 
    display: flex;
    width: 100%;

    & > li {
      margin-right: var(--base-size-16);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .yaml-locales {

    ul {
      display: flex;
    }
  }

  .search {
    margin-left: auto;

    form {
      display: flex;
    }

    input[type="search"] {
      margin-right: var(--base-size-8);
    }
  }

  .yaml-locales {

    li {
      margin-right: var(--base-size-8);
    }
  }
}
