<%= turbo_frame_tag('navigation_overview') do %>
  <header class="key-overview-header">
    <h2><%= @navigation.path %></h2>
    <ul class="actions">
      <li>
        <%=
          link_to t('.new'), locale_lab.new_translation_path(scope: @navigation.path), class: 'button'
        %>
      </li>
      <li>
        <ul>
          <!--- TODO: This should become a dropdown -->
          <% @yamls.each do |yaml| %>
            <li>
              <%=
                button_tag yaml[:locale].upcase, type: 'button', class: 'button', data: { controller: 'yaml', yaml_yaml_value: yaml[:content],
                  yaml_editor_outlet: '.editor', action: 'click->yaml#editInEditor' }
              %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </header>
<% end %>