<li>
  <strong>📃 <%= key %>:</strong>
  <%=
    button_to t('.destroy'), locale_lab.translation_path(key),
      method: :delete,
      form:   {
        data: {
          turbo_method:  :delete,
          turbo_confirm: t('.confirm_destroy')
        }
      }
  %>
  <ul>
    <% translations.each do |translation| %>
      <%= render 'translation_with_key', key: key, translation: translation %>
    <% end %>
  </ul>
</li>