<%=
  render 'shared/locale_lab/sidebar', navigation: @browser, path: @navigation.path
%>

<div class="content">
  <div class="translations-overview">
    <header>
      <h2><%= @navigation.path %></h2>
      <ul class="actions">
        <li>
          <%=
            link_to t('.new'), locale_lab.new_translation_path(scope: @navigation.path)
          %>
        </li>
      </ul>
    </header>

    <% if @translations.present? %>
      <ul>
        <% @translations.each do |key, translations| %>
          <%=
            render 'translations_with_key',
              key:          key,
              translations: translations
          %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<dialog data-controller="editor" class="editor" data-editor-hidden-class="display-none">
  <div data-editor-target="wrapper">
    <button data-action="click->editor#close" data-editor-target="closeButton">Close</button>
    <button data-action="click->editor#save" data-editor-target="saveButton">Save</button>
  </div>
</dialog>