/*
** Buttons
*/

a, button,
input[type="submit"] {

  /* Default buttons */
  &.button {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: var(--base-text-size-small);
    color: var(--fgColor-default);
    height: var(--base-size-32);
    padding: 0 var(--base-size-16);
    border: 1px solid #000;
    border-radius: var(--base-size-8);

    &:hover {  }
  }

  /* Primary buttons */
  &.primary-button {
    background-color: var(--primaryButton-bgColor-rest);
    border: 1px solid var(--primaryButton-borderColor-rest);

    &:hover {
      background-color: var(--primaryButton-bgColor-hover);
      border: 1px solid var(--primaryButton-borderColor-hover);
    }
  }

  /* Secondary buttons */
  &.secondary-button { 
    background-color: var(--secondaryButton-bgColor-rest);
    border: 1px solid var(--secondaryButton-borderColor-rest);

    &:hover {
      background-color: var(--secondaryButton-bgColor-hover);
      border: 1px solid var(--secondaryButton-borderColor-hover);
    }
  }

  /* Dropdown buttons */
  &.dropdown-button { 

    &:hover {

    }
  }

  /* Icon buttons */
  &.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fgColor-muted);
    font-size: 0;
    width: var(--iconButton-size);
    height: var(--iconButton-size);
    padding: 0;
    border: none;

    svg {
      fill: var(--fgColor-muted);
    }

    &:hover {
      background-color: var(--iconButton-bgColor-hover);

      svg {
        fill: var(--fgColor-muted);
      }
    }
  }

  &.icon-button-stroke {

    svg {
      fill: none;
      stroke: var(--fgColor-muted);
    }

    &:hover {

      svg {
        fill: none;
        stroke: var(--fgColor-muted);
      }
    }
  }

  &.icon-button-primary {
    background-color: var(--primaryButton-bgColor-rest);
    border: 1px solid var(--primaryButton-borderColor-rest);

    svg {
      fill: var(--fgColor-default);
    }

    &:hover {
      background-color: var(--primaryButton-bgColor-hover);
      border: 1px solid var(--primaryButton-borderColor-hover);
    }
  }
}